Source: jamesdsp
Section: audio
Priority: optional
Maintainer: ferrreo <harderthanfire@gmail.com>
Standards-Version: 4.6.1
Build-Depends: debhelper-compat (= 13),
               build-essential,
               libarchive-dev,
               qtbase5-private-dev,
               qtbase5-dev,
               libqt5svg5-dev,
               libglibmm-2.4-dev,
               libglib2.0-dev,
               libpipewire-0.3-dev 
Rules-Requires-Root: no

Package: jamesdsp
Architecture: linux-any
Depends: ${misc:Depends},
Provides: jamesdsp
Description: Awesome pulsewire audio effect and dsp manager
